#main-container {
    height: 100%;

    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30); 

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container form {
    width: 300px;

    display: flex;
    flex-direction: column;
}

#main-container form input {
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 10px;
    margin-top: 15px;
}

#main-container form button {
    height: 48px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container form a {
    font-size: 16px;
    padding: 0 10px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#main-container form .error {
    color: red;
    text-align: center;
}

#main-container form a:hover {
    color: #a5a5a5;
}

#main-container form button:hover {
    opacity: 0.8;
}